<nav class="navbar navbar-expand-lg navbar-dark bg-dark py-3 ">
  <div class="container">
    <a class="navbar-brand font-weight-bold" href="/"><i class="fas fa-crop"></i>&nbsp;Aperture</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto h6">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/gallery">Gallery</a>
      </li>
      <li class="nav-item">
        <a href="/blogs" class="nav-link">Blogs</a>
      </li>
      <li class="nav-item">
        <a href="/members" class="nav-link">Members</a>
      </li>              
    </ul>
    <% if(isAuthenticated) { %>
      <div class="dropdown mr-3">
        <button class="btn btn-dark dropdown-toggle" type="button" id="userprofileDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Hi&nbsp;<%= user.name? user.name.first : user.username %>!
        </button>
        <div class="dropdown-menu" aria-labelledby="userprofileDropdown">
          <a class="dropdown-item" target="_blank" href="/users/<%= user.username%>/profile">Your profile</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
      <!-- <a class="nav-link text-white">Hi&nbsp;<%= user.name ? user.name.first : user.username %>!</a>     -->
      <form action="/auth/logout?&_csrf=<%= csrfToken %>" method="POST">
        <button type="submit" class="btn btn-warning font-weight-bold"><i class="fas fa-sign-out-alt"></i>&nbsp;Log out</button> 
      </form>
    <% } else { %>
      <a href="/auth/login" class="nav-link text-white"><i class="fas fa-user-lock"></i>&nbsp;Log in</a>    
      <a href="/auth/register" class="btn btn-warning text-dark font-weight-bold"><i class="fas fa-user-plus"></i>&nbsp;Register</a>
    <% } %>
  </div>
  </div>  
</nav>