<nav class="navbar navbar-expand-lg navbar-dark bg-dark py-3 h5">
  <div class="container">
    <a class="navbar-brand font-weight-bold" href="/"><i class="fas fa-crop"></i>&nbsp;Aperture</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/gallery">Gallery</a>
      </li>
      <li class="nav-item">
        <a href="/blogs" class="nav-link">Blogs</a>
      </li>
      <li class="nav-item">
        <a href="/members" class="nav-link">Members</a>
      </li>        
      <form class="form-inline mx-5 my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-light mx-2 my-2 my-sm-0" type="submit">Search</button>
      </form>
    </ul>
    <% if(isAuthenticated) { %>
      <a class="nav-link text-white">Hey, <%= user.username %>!</a>    
      <a href="/user/logout" class="btn btn-warning text-dark font-weight-bold"><i class="fas fa-sign-out-alt"></i>&nbsp;Log out</a>    
    <% } else { %>
      <a href="/auth/login" class="nav-link text-white"><i class="fas fa-user-lock"></i>&nbsp;Log in</a>    
      <a href="/register" class="btn btn-warning text-dark font-weight-bold"><i class="fas fa-user-plus"></i>&nbsp;Register</a>
    <% } %>
  </div>
  </div>  
</nav>