<%- include('./partials/header') %>
<%- include('./partials/nav') %>
<div class="container my-3">
  <h1>Contact</h1>
  <div class="mx-auto m-3 p-3 w-75">
    <div class="card border-secondary p-5">
      <form action="/contact/success" method="POST">
        <div class="row">
          <div class="col">
            <label for="firstname" class="font-weight-bold text-capitalize">first name</label>
            <input type="text" name="firstname" name="firstname" class="form-control border-secondary" required>
          </div>
          <div class="col">
            <label for="lastname" class="font-weight-bold text-capitalize">last name</label>
            <input type="text" name="lastname" name="lastname" class="form-control border-secondary">
          </div>
        </div>
        <div class="row my-3">
          <div class="col">
            <label for="email" class="font-weight-bold text-capitalize">e-mail address</label>
            <input type="email" name="email" name="email" class="form-control border-secondary" required>
          </div>
          <div class="col">
            <label for="phone" class="font-weight-bold text-capitalize">phone</label>
            <input type="tel" name="phone" name="phone" class="form-control border-secondary" required>
          </div>
        </div>
        <div class="row my-3">
          <div class="col">
            <label class="font-weight-bold text-capitalize" for="reason">Reason for contacting us</label>
            <input class="form-control border-secondary" name="reason" list="choices" placeholder="Select an option OR enter your own">
            <datalist id="choices">
              <option class="text-capitalize" name="general" value="General"></option>
              <option class="text-capitalize" name="report a problem" value="Report a problem"></option>
              <option class="text-capitalize" name="copyright claim" value="Copyright infringement"></option>
              <option class="text-capitalize" name="account issues" value="Account Issues"></option>
            </datalist>
          </div>
        </div>
        <div class="row my-3">
          <div class="col">
            <label for="message" class="font-weight-bold text-capitalize">your message</label>
            <textarea class="form-control border-secondary" name="message" name="message" cols="30" rows="5" class="form-control" maxlenght="300" rows="10" required placeholder="Enter your message here"></textarea>
          </div>
        </div>  
        <div class="row my-3">
          <div class="col">
            <input type="checkbox" name="consent" name="consent" value="content">
            <label for="consent">By submitting information on this website, you hereby agree that you provide your consent to be contacted using the above details</label>
          </div>
        </div>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <div class="row my-3 ">
          <div class="col">
            <button class="btn btn-success font-weight-bold border-success" type="submit">Submit</button>
            <button class="btn btn-warning ml-2 font-weight-bold border-warning" type="reset">Reset</button>
          </div>
        </div>
      </form>
    </div>      
  </div>
</div>
<%- include('./partials/footer') %>